.servicios{
    background-color: map-get($colores,primario );
    padding: 100px 0;}
h2{
    text-align: center;
}
.container{
    margin:auto;
    max-width: 1440px;
    justify-content: space-around;
    display:flex;
   flex-flow: row wrap;
   gap: 50px;
}